.donate-content {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 120px;
}
.donate-content-header {
  height: 40px;
}
.donate-content-text {
  color: #777;
  font-weight: 400;
  line-height: 1;
}
